.pagination-wrapper {
  margin: 16px 0;
  .pagination {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;

    .page-btn,
    .page-btn-skip {
      border-radius: 50%;
      color: #eeeeee;
      background-color: transparent;
      border: 1px solid #eeeeee;
      width: 32px;
      height: 32px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      &:disabled {
        border: 1px solid #cfcfcf;
        color: #cfcfcf;
        cursor: not-allowed;
      }
      &:hover:not(:disabled) {
        color: black;
        background-color: #eeeeee;
      }
    }

    .active {
      background-color: white;
      color: black;
    }
  }
}
